@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 15vh;
    font-weight: 900;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 5vh;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.bg{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    filter: blur(2px);
}

.one{
    width: 100%;
    height: 100vh;
    background-color: rgba(78, 161, 172, 0.5);
}

.two{
    width: 100%;
    height: 100vh;
    background-color: rgba(78, 161, 172, 0.5);
}

.three{
    width: 100%;
    height: 100vh;
    background-color: rgba(78, 161, 172, 0.5);
}

.four{
    width: 100%;
    height: 100vh;
    background-color: rgba(78, 161, 172, 0.5);
}

.header{
    height: 10vh;
    background-color: rgba(67, 116, 171);
    display: flex;
    justify-content: space-around;
}



.header button{
    margin-left: 1vh;
    font-size: 5vh;
    font-family: "Josefin Sans", sans-serif;
    height: 10vh;
    border: none;
    background-color: rgb(201, 200, 164);
}

.header img{
    height: 10vh;
}

.one{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.two{
    display: flex;
}

.first{
    width: 20%;
}

.second{
    width: 40%;
}

.third{
    width: 40%;
}

.second img{
    height: 20vh;
}