@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 15vh;
    font-weight: 900;
}

h2{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 5vh;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}


body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.bg{
    position: absolute;
    object-fit: cover;
    z-index: -1;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    filter: blur(3px);
}

.one{
    width: 100%;
    height: 100vh;
}

.two{
    width: 100%;
    height: 100vh;
}

.three{
    width: 100%;
    height: 100vh;
}

.four{
    width: 100%;
    height: 100vh;
}

.header{
    height: 10vh;
    background-color: rgba(67, 116, 171);
    display: flex;
    justify-content: space-around;
}



.header button{
    margin-left: 1vh;
    font-size: 5vh;
    font-family: "Josefin Sans", sans-serif;
    height: 10vh;
    border: none;
    background-color: rgb(201, 200, 164);
}

.header img{
    height: 10vh;
}

.one{
    display: flex;
}

.one button{
    margin-right: 10vh;
    padding: 1vh;
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    height: 9.5vh;
    width: 35vh;
    text-align: center;
    background-color: rgb(199, 194, 58);
    border: solid 2px black;
    border-radius: 20px;
}

.one h1{
    background-color: transparent;
    border-radius: 50px;
    backdrop-filter: blur(100%);
    height: 11.1vh;
}

.one .left{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one h2{
    margin-top: 2vh;
    margin-left: 85vh;
}

.one .right{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10vh;
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top{
    display: flex;
    align-items: center;
    height: 8vh;
    width: 100vh;
    background-color: rgba(67, 116, 171);
}

.middle{
    display: flex;
    justify-content: space-evenly;
}

.bottom{
    display: flex;
    justify-content: space-around;
}

.middle img{
    height: 20vh;
    width: 40vh;
    overflow-y: hidden;
}

.bottom img{
    height: 20vh;
    width: 40vh;
    overflow-y: hidden;
}

.middle div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.bottom div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}



.regionone{
    height: 25vh;
    width: 40vh;
    background-color: rgba(67, 116, 171, 0.7);
    border-radius: 50px;
}

.regiontwo{
    height: 25vh;
    width: 40vh;
    background-color: rgba(67, 116, 171, 0.7);
    border-radius: 50px;
}

.regionthree{
    height: 25vh;
    width: 40vh;
    background-color: rgba(67, 116, 171, 0.7);
    border-radius: 50px;
}

.regionfour{
    height: 25vh;
    width: 40vh;
    background-color: rgba(67, 116, 171, 0.7);
    border-radius: 50px;
}

.regionfive{
    height: 25vh;
    width: 40vh;
    background-color: rgba(67, 116, 171, 0.7);
    border-radius: 50px;
}




.regiongif h2{
    font-size: 4vh;
    font-weight: bold;
}





.three{
    display: flex;
}

.three .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vh;
    border-right: solid 10px white;
    width: 30%;
    background-color: rgba(67, 116, 171, 0.5);
}

.three .left img{
    height: 30vh;
    width: 55vh;
    overflow-y: hidden;
    opacity: 90%;
}

.three .right{
    width: 70%;
    padding: 10vh;
}

.char img{
    margin-top: 1vh;
    height: 80vh;
    overflow-y: hidden;
}

.char{
    display: flex;
    justify-content: space-evenly;
}

.three .left h2{
    color: white;
}

.three .right h2{
    border-radius: 5px;
    backdrop-filter: blur(5px);
    height: 4vh;
    width: 67vh;
    background-color: rgba(67, 116, 171, 0.7);
    margin-left: 60vh;
}



.fourmain{
    display: flex;
}

.fourmain .left{
    margin-top: 10vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourmain .left h2{
    height: 4vh;
    width: 95vh;
    background-color: rgba(67, 116, 171, 0.9);
}

.fourmain .left img{
    margin-top: 5vh;
    height: 60vh;
}

.fourmain .right{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.quest{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quest img{
    width: 30vh;
    overflow-y: hidden;
}


.footer{
    height: 15vh;
    background-color: rgba(67, 116, 171);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img{
    width: 10vh;
}

.regionone:hover{
    color: rgb(81, 204, 188);
}

.regiontwo:hover{
    color: darkgoldenrod;
}

.regionthree:hover{
    color: blueviolet;
}

.regionfour:hover{
    color: forestgreen;
}

.regionfive:hover{
    color: blue;
}

.char img:hover{
    transform: rotateY(30deg);
}

.quest:hover{
    transform: scale(1.2);
    cursor: help;
}

.header button:hover{
    background-color: white;
    color: rgb(199, 194, 58);
}

.one button:hover{
    cursor: grab;
}


